{% include 'admin_header.html' %}



<center>


    <!-- Features Start -->
    <div class="container-xxl py-5">
        <div class="container">
                <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.1s">
                    <p class="section-title bg-white text-start text-primary pe-3">Send Reply!</p>
                    <div class="cart-container">
                        <form method="post">
                        <table class="table">
                            <tr>
                                <th>Reply</th>
                                <td><input type="text" name="reply" class="form-control"></td>
                            </tr>
                            <tr>
                                <td colspan="2" align="center"><input type="submit" name="submitbutton" class="btn btn-success"></td>
                            </tr>
                        </table>
                    </form>
                    </div>
                </div>

        </div>
    </div>
    <!-- Features End -->
    

</center>
{% include 'footer.html' %}