{% include 'admin_header.html' %}
<center>


    <!-- Features Start -->
    <div class="container-xxl py-5">
        <div class="container">
            <div class="row g-5 align-items-center">
                <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.1s">
                    <p class="section-title bg-white text-start text-primary pe-3">Manage Farmers!</p>
                    <table class="table">
                        <tr>
                            <th>Sl No</th>
                            <th>Name</th>
                            <th>City</th>
                            <th>Phone</th>
                            <th>Email</th>
                            <th>Action</th>
                        </tr>
                        {% for i in res %}
                        <tr>
                            <td>{{loop.index}}</td>
                            <td>{{i['firstname']}} {{i['lastname']}}</td>
                            <td>{{i['city']}}</td>
                            <td>{{i['phone']}}</td>
                            <td>{{i['email']}}</td>
                            <td><a href="?action=delete&farmer_id={{i['farmer_id']}}&login_id={{i['login_id']}}" class="btn btn-danger">DELETE</a></td>
                            <td><a href="?action=update&farmer_id={{i['farmer_id']}}&login_id={{i['login_id']}}" class="btn btn-danger">UPDATE</a></td>
                        </tr>
                        {% endfor %}
                    </table>
                </div>
                <div class="col-lg-6">
                    <div class="rounded overflow-hidden">








                        {% if data['up'] %}
                        <form method="post">
                            <table  style="width: 500px;">
                                <tr>
                                    <th>First Name</th>
                                    <td><input type="text" class="form-control" value="{{data['up'][0]['firstname']}}" required="" name="firstname"></td>
                                </tr>
                                <tr>
                                    <th>Last Name</th>
                                    <td><input type="text" class="form-control" value="{{data['up'][0]['lastname']}}" required="" name="lastname"></td>
                                </tr>
                                <tr>
                                    <th>City</th>
                                    <td><input type="text" class="form-control" value="{{data['up'][0]['city']}}" required="" name="city"></td>
                                </tr>
                                <tr>
                                    <th>Phone</th>
                                    <td><input type="text" class="form-control" value="{{data['up'][0]['phone']}}" required="" pattern="[0-9]{10}" maxlength="10" name="phone"></td>
                                </tr>
                                <tr>
                                    <th>Email</th>
                                    <td><input type="email" class="form-control" value="{{data['up'][0]['email']}}" required="" name="email"></td>
                                </tr>
                                <tr>
                                    <td align="center" colspan="2"><input type="submit" class="btn btn-success" name="update"></td>
                                </tr>
                            </table>
                        </form>
                        {% else %}
                        <form method="post">
                            <table  style="width: 500px;">
                                <tr>
                                    <th>First Name</th>
                                    <td><input type="text" class="form-control" required="" name="firstname"></td>
                                </tr>
                                <tr>
                                    <th>Last Name</th>
                                    <td><input type="text" class="form-control" required="" name="lastname"></td>
                                </tr>
                                <tr>
                                    <th>City</th>
                                    <td><input type="text" class="form-control" required="" name="city"></td>
                                </tr>
                                <tr>
                                    <th>Phone</th>
                                    <td><input type="text" class="form-control" required="" pattern="[0-9]{10}" maxlength="10" name="phone"></td>
                                </tr>
                                <tr>
                                    <th>Email</th>
                                    <td><input type="email" class="form-control" required="" name="email"></td>
                                </tr>
                                <tr>
                                    <th>username</th>
                                    <td><input type="text" class="form-control" required="" name="username"></td>
                                </tr>
                                <tr>
                                    <th>Password</th>
                                    <td><input type="password" class="form-control" required="" name="password"></td>
                                </tr>
                                <tr>
                                    <td align="center" colspan="2"><input type="submit" class="btn btn-success" name="submitbutton"></td>
                                </tr>
                            </table>
                        </form>

                        {% endif %}










                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Features End -->
    

</center>
{% include 'footer.html' %}